<div class="row">
    {{#each tasks}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    {{#each this}}
                        <h3>{{title}}</h3>
                        <p>{{description}}</p>
                    {{/each}}
                </div>
                <div class="card-footer d-flex justify-content-between align-item-center">
                    <a 
                        class="btn btn-primary"
                        href="">Delete</a>

                    <a  
                        class="btn btn-warning"
                        href="">Edit</a>
                </div>
            </div>
        </div>
    {{/each}}

</div>