<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Debitis porro culpa eaque numquam rerum error.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, facilis!</p>
    <a href="" class="btn btn-primary btn-lg">Tasks List</a>
</div>